#board {
  width: fit-content;
  min-width: calc(100vw - .5rem);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#board * {
  user-select: none;
}

#board .inner {
  --lists-gap: 1rem;
  min-width: 100%;
  display: flex;
  cursor: grab;
  min-height: 100%;
  flex-grow: 1;
  gap: var(--lists-gap);
  padding: 1rem;
}

#board .inner.dragging,
#board .inner.dragging * {
  cursor: grabbing;
}

#board-selector {
  width: 264px;
  text-overflow: ellipsis;
  white-space: nowrap;
}