.context-menu {
  z-index: 99999;
  background-color: var(--primary);
  box-shadow: 0 0 10px 1px #0002;
  top: 100%;
  right: 0;
  border-radius: calc(var(--radius) / 2);
  overflow: hidden;
  transition: .15s ease;
  filter: grayscale(.85);
}

.context-menu-item {
  border-bottom: 2px solid #0002;
}

.context-menu-item button:hover {
  background-color: #fff1;
}

.context-menu-item:last-child {
  border-bottom: 0;
}