.list,
.add-list {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
}

.add-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 3rem;
  margin-left: 1.5rem;
}

.add-list button {
  width: 100%;
}


.list {
  overflow: hidden;
  height: fit-content;
  cursor: initial;
  transition: margin-left .15s ease;
}

#board .inner:not(.dragging) .list {
  transition: none;
}

.list.selected {
  position: absolute;
}

.list-footer {
  padding: .5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.list-header {
  display: flex;
  padding: var(--list-header-padding);
  gap: .5rem;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.list-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
  font-weight: bold;
  font-size: 20px;
  color: var(--title-color);
  border: 0;
  background: transparent;
  width: 100%;
  padding: .25rem .5rem;
  cursor: grab;
  margin: 0;
}

.list-title.editing {
  cursor: unset;
}



.list-actions {
  position: relative;
}

.list-actions-menu {
  position: absolute;
  right: 0;
  white-space: nowrap;
  padding: .5rem;
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  z-index: 1;
}

.list-actions-menu button {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 400;
  opacity: .75;
  font-size: .85rem;
}

.list-items {
  padding: 0.75rem 0.5rem;
}

.list-items-inner {
  --items-gap: .5rem;
  position: relative;
  gap: var(--items-gap);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: var(--radius);
  transition: background-color .15s ease;
}

.list-items.empty .list-items-inner {
  min-height: var(--item-height);
}

.list-items.dragging .list-items-inner {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-items.dragging .list-items-inner {
  transition: background-color .15s ease, padding .15s ease;
}

.list-items.dragging button {
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  .list-items.dragging .list-items-inner {
    background-color: rgba(0, 0, 0, 0.1);
  }
}



.list-items.last:not(.empty) .list-items-inner {
  padding-bottom: calc(var(--selected-item-height) + var(--items-gap) + .5rem);
}


.list-items:not(.dragging) .list-item {
  transition: none;
}

.list-item {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  display: flex;
  gap: .5rem;
  margin-top: 0;
  transition: margin-top .15s ease;
  background: rgba(255, 255, 255, .025);
  min-height: var(--item-height);
}

.list-item.selected {
  position: absolute;
  width: calc(100% - 1rem);
}


.list-item.default {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  padding: .5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: .5rem;
  text-align: center;
  opacity: .5;
}

.add-list-item {
  padding: .5rem;
  border-radius: var(--radius);
  display: block;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
}